@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded");

body {
  min-width: 200px;
  margin: 0;
  font-family: "Encode Sans Expanded";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
